<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
  </head>
  <body>
    <h1>CC-Edit</h1>
    <% if (typeof user === 'undefined') { %>
		  <h4>Welcome! Please <a href="/login">log in</a>.</h4>
    <% } else { %>
  		<h4>Hello, <%= user.username %>.</h4>
      <h3>Your Projects</h3>
      <% for(var i = 0; i < projects.length; i++){ %>
  		    <a href="/pad/<%=projects[i].projectId %>"><%=projects[i].projectName %></a></br>
      <% } %>    
     <a class="btn" href="/create">Create New Project</a>
    <% } %>
  </body>
</html>


