<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
  </head>
  <body>
    <h1>CC-Edit</h1>
    <% if (typeof user === 'undefined') { %>
		  <h4>Welcome! Please <a href="/login">log in</a>.</h4>
    <% } else { %>
  		<h4>Hello, <%= user.username %>.</h4>
      <h3>Your Projects</h3>
      <%if(typeof projects === 'undefined'){ %>
          <p>You have no Projects</p>
      <% }else{
          for(var i = 0; i < projects.length; i++){ %>
  		      <a href="/project/<%=projects[i].projectId %>"><%=projects[i].projectName %></a></br>
        <% } 
        } %>
      <br/><a class="btn" href="/create">Create New Project</a>
  <%}%>

  </body>
</html>


