<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CC-Edit Login</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/login.css" rel="stylesheet">
</head>
<body>
  <div class="container">
      <div class="content">
          <div class="row">
              <div class="login-form">
                  <h2>Login</h2>
                  <!--<form action="">
                      <fieldset>
                          <div class="clearfix">
                              <input type="text" placeholder="Username">
                          </div>
                          <div class="clearfix">
                              <input type="password" placeholder="Password">
                          </div>
                          <button class="btn primary" type="submit">Sign in</button>
                      </fieldset>
                  </form> -->

                  <a href="/auth/twitter"><img src="/img/sign-in-with-twitter-l.png" width="151" height="24"></a>
                  <br/><br/><a href="/auth/backdoor/agnithin">Login as agnithin</a>
                  <br/><a href="/auth/backdoor/nithin_ag">Login as nithin_ag</a>

              </div>
          </div>
      </div>
  </div> <!-- /container -->
</body>
</html>