

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}

.nav-tabs > li .dropdown{
    margin: -30px 10px 0 10px;
    font-size: 18px;
    float:right;
}
.nav-tabs > li a{
  padding-right:35px;
}

#code-content{
	padding:10px;
}
/*
body{
  position:relative;
}

#ccedit-chat{
  position:absolute;
  
  bottom:0px;
  right:10px;
}*/

/*#project-files li a{
	padding-left:5px;
	padding-right:5px;
}*/

/*
#project-files.nav.nav-list{
	padding-left:5px;
	padding-right:5px;
}
#project-files li a{
	padding-left:10px;
	padding-right:10px;
}
#project-files li.nav-header{
	padding-left:10px;
	padding-right:10px;
}
*/

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 30px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
