<div class="file-item" ng-click="openFile(file.fileId)" style="position:relative;"
data-toggle="context" data-target="#context-menu-{{file.fileId}}">
	<span>{{file.fileName}}</span>
	<div id="context-menu-{{file.fileId}}">
	    <ul class="dropdown-menu" role="menu">
		    <li><a href="#" ng-click="deleteFile(file)">Rename</a></li>
		    <li><a href="#" ng-click="renameFile(file)">Delete</a></li>
		    <li class="divider"></li>
		    <li><a href="#" ng-click="backupFile(file)">Create a Backup</a></li>
		    <li><a href="#" ng-click="restoreFile(file)">Restore from Backup</a></li>
	    </ul>
	</div>
</div>