          <!-- ### PAGE BODY ### -->
        <div class="container-fluid">      
          
          <div class="row-fluid">

            <!-- ### FILE LIST ### -->
            <div class="span2">
              <div class="well sidebar-nav">
                <ul id="project-files" class="nav nav-list">
                  <li class="nav-header">
                    Files <button class="close" type="button" ng-click="showAddFile()" ui-jq="tooltip" title="Add a new file">+</button>
                  </li>
                  <!--<li class="active"><a href="#">Sample file</a></li>-->                  
                  <li ng-repeat="file in project.files" class="project-file">
                    <a ng-click="openFile(file.fileId)" >{{file.fileName}}</a>              
                    <button class="close" ng-click="deleteFile(file.fileId, file.fileName)" ui-jq="tooltip" title="Delete file">
                      <i class="icon-trash"></i>
                    </button>                                      
                  </li>

                  <li ng-show="showAddNewFileTextbox" class="new-file-name">
                    <form id="newfileForm" ng-submit="addFile()">
                      <input id="newfileName" placeholder="Specify a name" ng-model="newFileName" focus-on="showAddNewFileTextbox" required class="input-small-modified">                      
                    </form>
                    <!--<button class="close" ng-click="showAddNewFileTextbox=false"><i class="icon-remove"></i></button>
                    <span class="error" ng-show="newfileForm.input.$error.REQUIRED">Required!</span> -->
                  </li>
                  
                </ul>
              </div><!--/.well -->
            </div><!--/span-->

            <!-- ### CODE AREA ### -->
            <div class="span10" ng-controller="FileCtrl">
              <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                  <li ng-repeat="file in openFiles" ng-class="{active: file._id == activeFile._id }"><!--class="active"-->
                    <!-- moved the change tab code from bootstrp to angular js, due to need for getting currently active tab -->
                    <a data-toggle="tab" ng-click="changeActiveFile(file._id)">
                      <span>{{file.name}}</span>
                    </a>
                      <!--<a href="#" class="close" ng-click="closeFile(file._id)">×</a> -->                 
                    <span class="dropdown">
                      |<span class="dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                      </span>
                      <ul class="dropdown-menu">
                        <li><a href="" ng-click="closeFile(file._id)">Close</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="backupFile(file._id)">Backup</a></li>
                        <li><a href="#listBackups" data-toggle="modal" ng-click="initializeBackupList(file._id)">Restore</a></li>
                      </ul>
                    </span>                                   

                  </li>
                </ul>
                <div><!-- class="tab-content">  same tab, just contents change-->                  
                  <div class="tab-pane" class="active">                  
                    <div id="code-content" class="hero-unit">
                      <textarea ui-codemirror-mod="{lineNumbers: 'true', mode:'htmlmixed'}" ng-model="activeFile.contents" ng-modal-instant ng-change="sendUpdatedFile()" onCursorActivity="cursorActivity"></textarea>                      
                    </div>
                    <div class="row-fluid">            
                    </div><!--/row-->
                  </div>
                </div>
              </div>

              <!-- ### LIST BACKUPS DIALOG ### -->
              <div id="listBackups" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel">Backups</h3>
                </div>
                <div class="modal-body">  
                    <table class="table table-hover">
                      <tr>
                        <th>Backup Date</th>
                        <th>Backup created By</th>
                      </tr>
                      <tr ng-repeat="backup in backupList" ng-click="selectBackup(backup)" ng-class="{success: isSelectedBackup(backup)}">
                        <td>{{backup.time}}</td>
                        <td>{{backup.backedupBy}}</td>
                      </tr>
                    </table>
                    <!--<hr>
                    Selected Backup: <span class="pager"><a href="#">{{selectedBackup.time}}</a></span> -->             
                </div>
                <div class="modal-footer">                  
                  <button class="btn btn-danger" ng-disabled="selectedBackup==''" ng-click="deleteBackup()">Delete Selected Backup</button>
                  <button class="btn btn-primary" data-dismiss="modal" ng-disabled="selectedBackup==''" ng-click="restoreBackup()">Restore Selected Backup</button>
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
              </div><!-- /LIST BACKUPS DIALOG -->

            </div><!--/CODE AREA-->

            <!-- ### CHAT AREA ### -->
            <div class="span3 visible-desktop" id="ccedit-chat" ng-controller="ChatCtrl">
              <div id="chat-header" class="popover-title">CHAT<span id="unread-chat" class="badge badge-important" ng-show="unreadChatCount>0">{{unreadChatCount}}</span><span class="icon-chevron-down pull-right"></span></div>        
              <div id="chat-content" class="well sidebar-nav">
                <ul id="online-users" class="nav nav-list">
                  <li class="nav-header">Online Users</li>
                  <li ng-repeat="user in onlineUsers">{{user}}</li>
                </ul>
                <hr>
                <ul id="chat-messages" class="nav nav-list">
                  <li class="nav-header">Chat</li>
                  <li id="messages" ng-repeat="log in chatLog">
                    <b>{{log.username}}:</b> {{log.data}}
                  </li>
                </ul>   
                <textarea id="chat-text" rows="2" ng-model='chatText' ui-keypress="{13:'sendChat()'}" class="input-small-modified"></textarea>             
              </div><!-- /CHAT BAR -->
              

            </div><!--/CHAT AREA--> 

          </div><!--/row-->      

          </div> <!-- /PAGE BODY -->
          <script>
          $("#chat-header").click(function(){
              $("#chat-content").slideToggle();
              return false;
           });
          //$("#chat-messages").animate({ scrollTop: $("#chat-messages").attr("scrollHeight") }, 3000)
          </script>